* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS TEXT*/
  --bg-color: #2f2e41;
  --title-color: #ffffff;
  --span-color: #00bfa6;
  --text-color: #c2c2c2;
}

body {
  background: var(--bg-color);
  min-height: 100vh;
}
.page {
  width: 1280px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 101px;
}

a {
  text-decoration: none;
}

ul,
h1 {
  font-family: 'JetBrains Mono', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;

  font-size: 14px;
  color: var(--title-color);

  transition: 0.2s;

  cursor: pointer;
}

ul li a {
  color: var(--title-color);
}

ul li a:hover {
  color: var(--span-color);
  font-weight: bold;
}

main {
  display: flex;
  gap: 77px;
  text-align: center;

  margin-bottom: 157px;
}

section > h1 {
  font-size: 40px;
  color: var(--title-color);

  margin-bottom: 59px;
}

section > h1 > span {
  color: var(--span-color);
}

section p {
  width: 604px;

  color: var(--text-color);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

  margin: 40px 0;
}

p > span {
  color: var(--span-color);
  font-weight: bold;
}

button {
  display: flex;

  border: 0;
  border-radius: 4px;

  font-size: 14px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--title-color);
  background: var(--span-color);
  padding: 15px 35px 15px;
  align-items: center;
  gap: 10px;

  margin: 0 0 0 200px;

  transition: 0.15s;

  cursor: pointer;
}

button:hover {
  background: #04927f;
}

.line {
  width: 568px;
  height: 1px;
  margin: 300px auto 27px;
  background: #00bfa6;
}

#footer {
  text-align: center;
  color: var(--title-color);
  font-size: 14px;

  font-family: 'JetBrains Mono';
}

#imgfooter {
  position: fixed;
  margin: 0 0 20px 20px;
}
